@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:wght@400;800&display=swap');

.background{
    height: 100vh;
    position: relative;
}

.background-image {
    width: 100%;
    height: 100vh;
    position: absolute;
    z-index: 9;
    top: 0;
    left: 0;
}

.description {
    width: 50%;
    position: absolute;
    z-index: 10;
    top: 30%;
    left: 8%;
    color: #E5E5CB;
    font-family: 'EB Garamond', serif;
}

@media screen and (min-width: 601px) {
    h1 {
        font-size: 4.2rem;
    }

    p {
        font-size: 2rem;
    }
}

@media screen and (min-width: 300px) and (max-width: 600px) {
    .description{
        top: 15%;
    }

    h1 {
        font-size: 2.5rem;
    }

    p {
        font-size: 1.25rem;
    }
}

@media screen and (max-width: 300px) {

    h1 {
        font-size: 2rem;
    }

    p {
        font-size: 1rem;
    }
}
