body{
    background-color: #3C2A21;
}

.container{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    position: absolute;
    overflow: hidden;
    margin-top: 8rem;
}

.address{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
    gap: 1rem;
}

.map{
    /* padding: 2rem; */
    margin: 2rem;
    width: 40rem;
    height: 50vh;
    border-radius: 2rem;
}

/* Td {
    background-color: antiquewhite;
} */

Table{
    border-spacing: 0 15px;
    white-space: break-spaces;
    color: black;
}

Tr{
    background-color: #DFD3C3;
}

Tr:hover {
    background-color: #e6e4d7;
    cursor: pointer;
}


.address-column{
    padding: 1rem;
}

.name-column{
    padding: 1rem;
    border-top-left-radius: 1rem;
    border-bottom-left-radius: 1rem;
}

.number-column{
    padding: 1rem;
    border-top-right-radius: 1rem;
    border-bottom-right-radius: 1rem;
}

Tr{
    position: relative;
}

.dropdown-content{
    display: none;
    z-index: 999;
    color: white;
}

Td:hover  .dropdown-content{
    display: block;
    visibility: visible;
    color: white;
}

@media screen and (max-width: 800px) {
    .container{
        flex-direction: column-reverse;
        margin-top: 0;
    }

    .address, .map {
        width: 20rem;
    }

    .address{
        padding: 0;
    }

    .address-column{
        display: none;
    }
}



